Source: libcariad-font-cp113
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-font-cp113
Replaces: libdisplaycore-font-cp113
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Fonts
Depends: libcariad-core
Provides: CP113.h
Description: CP113 (VGA Code Page 113)
